<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application

        android:allowBackup="true"
        android:label="Trip App"
        android:theme="@style/Theme.MyApplication">

        <!-- SPLASH SCREEN (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
        android:exported="true"
            android:theme="@style/Theme.MyApplication">

        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- LOGIN SCREEN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".DetailsActivity" android:exported="false"/>
        <activity android:name=".BookingsActivity" android:exported="false"/>
        <activity android:name=".SearchActivity" android:exported="false"/>
        <activity android:name=".EditBookingActivity" android:exported="false"/>

    </application>

</manifest>
